%script(id="replies-template.html" type="text/ng-template")
  %a.threadexp(href="#collapse")
  .annotation(data-object="annotation")
    .magicontainer
      .magicontrols
        .shown
          .timestamp(data-object="time") {{reply.time}}
          .lock-icon(data-object="lock-icon")
          .fave-icon.checked(title="Favorite" data-action="favorite")
        .hidden
          .reply-icon(title="Reply" data-action="reply")
          .share-icon(title="Share" data-action="share")
          .dropdown(title="More Actions")
          %a.dropdown-toggle.down-icon(data-toggle="dropdown" href="#")
          %ul.dropdown-menu.pull-right(role="menu") 
            %li(data-action="edit" ng-show="reply.username == 'woah2'")
              %a Edit
            %li(data-action="delete" ng-show="reply.username == 'woah2'")
              %a Delete
            %li(data-action="flag" ng-hide="reply.username == 'woah2'")
              %a Flag

    %a.upper-left(data-object="username") {{reply.username}}
    = partial "share-dialog.haml"
    = partial "flag-dialog.haml"
    .body(data-object="body") {{reply.text}}
    = partial "edit-dialog.haml"
    = partial "delete-dialog.haml"
    %span.replycount {{reply.count}}

  .thread
    %ul.annotator-listing
      = partial "write-dialog.haml"
      %li.detail(ng-include="'replies-template.html'" ng-repeat="reply in reply.children" data-object="detail")
