- content_for :head do
  %title fakebarUno

= partial "summary-template.haml"

= partial "history-template.haml"

= partial "detail-template.haml"

= partial "replies-template.haml"

= partial "sidebar.haml"

/ / %ul#special.annotator-listing(style="width: 300px;")
/   %li.hyp-annotation.hyp-paper.hyp-detail
/     .topbar
/       .hyp-user xXbRiAnSgIrLXx
/       .hyp-time about 3 days ago
/     .hyp-content Chinese officials sound really easy to bribe.
/     .hyp-thread
/       %ul.annotator-listing
/         %li.hyp-annotation.hyp-detail
/           %a.hyp-threadexp{:href => "#collapse"}
/           .topbar
/             .hyp-user notouch
/             .hyp-time about 1 day ago
/           .hyp-content Just talked to someone who came here from China. Apparently foreign liquor and cigarettes cost ten-fold of its original price, if not more. So these things are easily $100 each. Not to mention these were only items found in the office, not their private mansion. Also learned that it's very common to treat someone to dinner or a massage parlor as form of bribery. A good fancy dinner cost a few hundred dollars, even thousands of dollars. The massage parlor usually offer some special kind of service in the back-end.
/           .hyp-thread
/             %ul.annotator-listing
/               %li.hyp-annotation.hyp-detail
/                 %a.hyp-threadexp{:href => "#collapse"}
/                 .topbar
/                   .hyp-user elmer_the_arse
/                   .hyp-time about 1 day ago
/                 .hyp-content what if the corrupt official does't like 'the special kind of service in the back end'?              
/                 .hyp-thread
/                   %ul.annotator-listing
/                     %li.hyp-annotation.hyp-detail              
/                       %a.hyp-threadexp{:href => "#collapse"}                    
/                       .topbar
/                         .hyp-user notouch
/                         .hyp-time about 1 day ago                    
/                       .hyp-content I'm sure they provide special service in the front end too. ;)                   
/                       .hyp-thread
/                         %ul.annotator-listing
/               %li.hyp-annotation.hyp-detail              
/                 %a.hyp-threadexp{:href => "#collapse"}              
/                 .topbar
/                   .hyp-user G0VERNMENT
/                   .hyp-time about 22 hours ago              
/                 .hyp-content Ya, its called using back doors and is considered normal and is so common place that it borders on acceptable in Chinese culture.              
/                 .hyp-thread
/                   %ul.annotator-listing
/         %li.hyp-annotation.hyp-detail      
/           %a.hyp-threadexp{:href => "#collapse"}    
/           .topbar
/             .hyp-user ponto1
/             .hyp-time about 1 day ago
/           .hyp-content China has had some of the most insanely fast economic growth of world history in the past couple of decades. Very few will protest until this kind of growth stops.
/           .hyp-thread
/             %ul.annotator-listing
/               / ngRepeat: reply in reply.children
/               %li.hyp-annotation.hyp-detail            
/                 %a.hyp-threadexp{:href => "#collapse"}          
/                 .topbar
/                   .hyp-user dingdongpuddi
/                   .hyp-time about 1 day ago              
/                 .hyp-content Actually there's been many reports on how little, if any, benefits of this decades-long growth for the poor and rural. Here's one such report: http://www.nytimes.com/2008/01/13/world/asia/13china.html?pagewanted=all            
/                 .hyp-thread
/                   %ul.annotator-listing
/                     %li.hyp-annotation.hyp-detail 
/                       %a.hyp-threadexp{:href => "#collapse"}
/                       .topbar
/                         .hyp-user anarcho-fox
/                         .hyp-time about 1 day ago
/                       .hyp-content its becuase the chinese rural poor are the government sanctioned rural poor...they arent allowed to join into the urban growth because they are designated rural workers http://en.wikipedia.org/wiki/Hukou_system china has a form of caste system thats not talked about much...the government fears that ending it would catapult all the rural poor into the cities and that it would fuck everything up
/                       .hyp-thread
/                         %ul.annotator-listing
/                           %li.hyp-annotation.hyp-detail
/                             %a.hyp-threadexp{:href => "#collapse"}
/                             .topbar
/                               .hyp-user TBradley
/                               .hyp-time about 1 day ago
/                             .hyp-content Yep, they have an internal passport like system. 
/                             .hyp-thread
/                               %ul.annotator-listing
/                           %li.hyp-annotation.hyp-detail
/                             %a.hyp-threadexp{:href => "#collapse"}
/                             .topbar
/                               .hyp-user Baraka_Flocka_Flame
/                               .hyp-time about 23 hours ago
/                             .hyp-content I remember seeing a video on reddit a year or so ago where an economist was displaying the vast wealth disparities in china based on the province. Without really getting into details, it showed how many of the most industrialized urban areas had wealth equivalent to the wealthiest western nations while the rural areas had wealth equivalent to some of the poorest areas in Africa. I can't seem to find it though, anyone know what I'm talking about?
/                             .hyp-thread
/                               %ul.annotator-listing
/                                 %li.hyp-annotation.hyp-detail
/                                   %a.hyp-threadexp{:href => "#collapse"}
/                                   .topbar
/                                     .hyp-user AmIKawaiiUguuu
/                                     .hyp-time about 20 hours ago
/                                   .hyp-content http://www.economist.com/content/chinese_equivalents
/                                   .hyp-thread
/                                     %ul.annotator-listing
/                                       %li.hyp-annotation.hyp-detail
/                                         %a.hyp-threadexp{:href => "#collapse"}
/                                         .topbar
/                                           .hyp-user green_flash
/                                           .hyp-time about 19 hours ago                 
/                                         .hyp-content If you look at GDP per capita, it's actually not that bad. Even the poorest province (Guizhou) is still on the same level as India.And with the exemption of city states like HK, Macau, Shanghai, Beijing and Tianjin no province is richer than 4 times the poorest.That's better than Brazil and India inequality-wise, but not as good as in the US of course: Mississippi has about half the GDP per capita of Connecticut, one of the richest.
/                                         .hyp-thread
/                                           %ul.annotator-listing
/                                 %li.hyp-annotation.hyp-detail
/                                   %a.hyp-threadexp{:href => "#collapse"}
/                                   .topbar
/                                     .hyp-user jaylink
/                                     .hyp-time about 20 hours ago
/                                   .hyp-content Oh no, that could never happen here. Eastern Tennessee -vs- NYC, cough, cough. Compton -vs- Beverly Hills -- that's only a few miles.
/                                   .hyp-thread
/                                     %ul.annotator-listing
